<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		<div class="recent-posts section">
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
					<div class="post">
						<div class="post-header">
							<div class="meta">
								<div class="date">
									<span class="day">{{ dateFormat "02" .Date }}</span>
									<span class="rest">{{ index $.Site.Data.monthtr (printf "%d" .Date.Month) }} {{ .Date.Year }}</span>
								</div>
							</div>
							<div class="matter">
								<h4 class="title small">
									<a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup class="draft-label">TASLAK</sup>{{ end }}</a>
								</h4>
								<span class="description">
									{{ if isset .Params "description" }}
										{{ .Description }}
									{{ else if gt (len .RawContent) 120 }}
										{{ slicestr .RawContent 0 120 }}...
									{{ else }}
										{{ .RawContent }}
									{{ end }}
								</span>
							</div>
						</div>
					</div>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
