<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}

		{{ if isset .Data "Term" }}
			<h2>{{ .Data.Term }}</h2>
		{{ else }}
			<h2 class="page-title">All posts</h2>
		{{ end }}

		<ul class="posts flat">
			{{- range .Data.Pages -}}
			{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
			{{- else -}}
			<li class="post">
				<div class="post-header">
					<div class="meta">
						<div class="date">
							<span class="day">{{ dateFormat "02" .Date }}</span>
							<span class="rest">{{ index $.Site.Data.monthtr (printf "%d" .Date.Month) }} {{ .Date.Year }}</span>
						</div>
					</div>
					<div class="matter">
						<h4 class="title small">
							<a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}</a>
						</h4>
						<span class="description">
							{{ if isset .Params "description" }}
								{{ .Description }}
							{{ else if gt (len .RawContent) 120 }}
								{{ slicestr .RawContent 0 120 }}...
							{{ else }}
								{{ .RawContent }}
							{{ end }}
						</span>
					</div>
				</div>
			</li>
			{{- end -}}
			{{- end -}}
		</ul>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
