<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		<div class="post">
			<div class="post-header">
				{{ if ne .Date.Year 1 }}
					<div class="meta">
						<div class="date">
							<span class="day">{{ dateFormat "02" .Date }}</span>
							<span class="rest">{{ index $.Site.Data.monthtr (printf "%d" .Date.Month) }} {{ .Date.Year }}</span>
						</div>
					</div>
				{{ end }}
				<div class="matter">
					<h1 class="title">{{ .Title }}</h1>
				</div>
			</div>
					
			<div class="markdown">
				{{ .Content }}
			</div>

			<div class="tags">
				{{ if ne .Type "page" }}
					{{ if gt .Params.tags 0 }}
						<ul class="flat">
							{{ range .Params.tags }}
							<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
							{{ end }}
						</ul>
					{{ end }}
				{{ end }}
			</div>

			{{- $.Scratch.Set "isDisqus" true -}}

			{{- if and (isset .Params "type") (in .Site.Params.disableDisqusTypes .Params.type) -}}
				{{- $.Scratch.Set "isDisqus" false -}}
			{{- end -}}

			{{- if and (isset .Params "disqus") (eq .Params.disqus false) -}}
				{{- $.Scratch.Set "isDisqus" false -}}
			{{- else if and (isset .Params "disqus") (eq .Params.disqus true) -}}
				{{- $.Scratch.Set "isDisqus" true -}}
			{{- end -}}

			{{- if eq ($.Scratch.Get "isDisqus") true -}}
			{{- partial "disqus.html" . -}}
			{{- end -}}
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
